/* My styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.65;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: fit-content;
  color: #393d41;
  border: #dee1e3;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #25a2c3;
}
header img {
  width: 400px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 130px;
  padding-right: 130px;
  background-color: black;
}
nav {
  background-image: url(/Esercizio/images/banner.jpg);
  padding-bottom: 35px;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
}
nav p {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
header h1 {
  font-size: 1.8em;
}
button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border: none;
}
.art1 {
  padding-top: 50px;
}
.art1 p {
  padding-top: 10px;
}
.art2 {
  padding-top: 22px;
}
.art2 p {
  padding-top: 10px;
}
.art2 img {
  border-radius: 50%;
  width: 275px;
  height: 275px;
  padding-top: 10px;
}
.art3 {
  padding-top: 22px;
}
.art3 p {
  padding-top: 10px;
}
.art4 {
  padding-top: 22px;
}
.art4 p {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}
.testimonianze {
  background-color: #e22d0e;
  padding-top: 55px;
}
.testimonianze h1 {
  color: white;
  font-size: 30px;
}
.testimonianze p {
  color: white;
  padding-top: 20px;
  font-size: 15px;
  padding-bottom: 35px;
}
.testimonianze .autore {
  font-size: 22px;
  color: white;
  padding-bottom: 0;
}
.testimonianze .p2 {
  padding-top: 0;
}
.art6 img {
  width: 330px;
  padding-bottom: 12px;
}
.art6 {
  padding-top: 55px;
}
.art6 p {
  padding-top: 10px;
}
.art7 img {
  width: 330px;
  padding-bottom: 12px;
}
.art7 {
  padding-top: 60px;
}
.art7 p {
  padding-top: 10px;
}
.art8 img {
  width: 330px;
  padding-bottom: 12px;
}
.art8 {
  padding-top: 60px;
  margin-bottom: 80px;
}
.art8 p {
  padding-top: 10px;
}
footer {
  color: #c8e7f0;
  background-color: #25a2c3;
  padding-top: 40px;
  padding-bottom: 70px;
}
footer h1 {
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
}
footer .contatti a {
  color: #c8e7f0;
}
footer .contatti address {
  color: #c8e7f0;
  padding-bottom: 30px;
  display: inline;
  border-bottom: solid 1px #c8e7f0;
}
footer p {
  padding-top: 30px;
}
footer p a {
  color: #c8e7f0;
}
